<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>Tony</title>
	{% endif %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="row">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						{% if active_page == "home" %}
						<li class="active">
							<a href="https://tonybenoy.com/">Home
								<span class="blick_text">_</span>
							</a>
						</li>
						{% else %}
						<li>
							<a href="https://tonybenoy.com/">Home</a>
						</li>
						{% endif %}

						{% if active_page == "other" %}
						<li class="active">
							<a href="https://tonybenoy.com/app">Other Stuff
								<span class="blick_text">_</span>
							</a>
						</li>
						{% else %}
						<li>
							<a href="https://tonybenoy.com/app">Other Stuff</a>
						</li>

						{% endif %}
						<!-- <li><a href="https://blogs.tonybenoy.com">Blog</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% block content %}
	{% endblock %}
</body>
<footer>
	<div class="navbar navbar-inner  navbar-fixed-bottom">
		<div class="row">
			<p class="text-center">© Tony Benoy 2020</p>
		</div>
	</div>
</footer>

</html>
