{% extends "base.html" %}
{% block content %}

<section id="sec1 content ">
	<div class="row">
		<div class="col-sm-12 container-fluid ">
			<div class="jumbotron bg-1 text-center ">
				<div style="position:relative; top:12.5%; bottom: 12.5%">
					<br />
					<img src="/static/img/me.jpg" class="img-circle">
					<br />
					<h1>Tony Benoy</h1>
					<p>
						A Pretentious Noob
						<span class="blink_text">_</span>
					</p>
					<br />
					<a href="https://www.linkedin.com/in/tonybenoy/" class="fa-brands fa-linkedin-in"></a>
					<a href="https://twitter.com/TonyBenoy" class="fa-brands fa-twitter"></a>
					<a href="https://github.com/tonybenoy" class="fa-brands fa-github"></a>
					<a href="https://instagram.com/tonybenoy" class="fa-brands fa-instagram"></a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
