	.bg-1 {
	    background-color: black;
	    color: green;
	}

	.bg-2 {
	    background-color: #00CC66;
	    color: white;
	}

	.fa {
	    padding: 20px;
	    font-size: 30px;
	    width: 50px;
	    text-align: center;
	    text-decoration: none;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.blink_text {

	    animation: 1s blinker linear infinite;
	    -webkit-animation: 1s blinker linear infinite;
	    -moz-animation: 1s blinker linear infinite;
	    color: #00ff03;
	}

	@-moz-keyframes blinker {
	    0% {
	        opacity: 1.0;
	    }

	    50% {
	        opacity: 0.0;
	    }

	    100% {
	        opacity: 1.0;
	    }
	}

	@-webkit-keyframes blinker {
	    0% {
	        opacity: 1.0;
	    }

	    50% {
	        opacity: 0.0;
	    }

	    100% {
	        opacity: 1.0;
	    }
	}

	@keyframes blinker {
	    0% {
	        opacity: 1.0;
	    }

	    50% {
	        opacity: 0.0;
	    }

	    100% {
	        opacity: 1.0;
	    }
	}

	.container-fluid {
	    border: 0px;
        padding: 0;
        bottom: 0;
	}